html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #D6DAD8;
  text-align: right;
  padding-top: 15px;
  padding-right: 20px;
  font-size: 1.3em;
}

@keyframes animate {
    from {background-size: 0%; background-color: #FFFFFF; }
    to {background-size: 60%;  background-color: rgba(192,192,192,0.3); }
}

@-webkit-keyframes animate {
    from {background-size: 0%; background-color: #FFFFFF; }
    to {background-size: 60%;  background-color: rgba(192,192,192,0.3); }
}

body {
	font-family: 'Raleway', sans-serif;
	background-image: url('back.png');
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	padding-top: 20px;
  margin-bottom: 60px;
	background-size: 60%;
	background-color: rgba(192,192,192,0.3);
}

.home {
  animation-name: animate;
  animation-duration: 4s;
  -webkit-animation-name: animate;
  -webkit-animation-duration: 4s;
}

.container {
	 opacity: 0.87;
    filter: alpha(opacity=87); /* For IE8 and earlier */
}
